.container {   
    width: 140px;
    height: 452px;
    /* background: red; */

    box-sizing: border-box;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    height: 100%;
}

.topSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-primary);
    font-size: 14px;
    padding-right: 15px;
    padding-left: 15px; 
}  
.bottomSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-primary);
    font-size: 14px;
    padding-right: 15px;
    padding-left: 15px; 
}  
.avatar {
    width: 130px;
    height: 100px;
    object-fit: contain; 
}

.nameContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 10px 0 5px 0;
}

.userName {
    font-weight: bold;
    font-size: 1.1em;
    color: var(--color-primary); 
    margin: 0;
}

.statusIndicator {
    width: 10px;
    height: 10px;
    background-color: var(--color-online);
    /* border-radius: 50%; */
}

.statusOffline {
    background-color: var(--color-offline);
}

.userBio {
    margin: 0;
    font-size: 0.9em;
    opacity: 0.8;
    color: var(--color-text);
    word-break: break-word; 
}
