.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  color: var(--color-primary);
  -webkit-app-region: no-drag;
}

.loginForm {
  background: var(--color-panel);
  padding: 2rem;
  backdrop-filter: blur(10px);
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 400px;
  border: 4px solid var(--color-primary);
}

.loginForm h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--color-primary);
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.inputGroup label {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--color-primary);
}

.inputGroup input {
  padding: 0.8rem;
  border: 2px solid var(--color-border);
  font-size: 1rem;
  background-color: var(--color-text);
  color: var(--color-border); 
  font-family: inherit;
}

.inputGroup input:focus {
  outline: none;
  border-color: var(--color-online);
}

.loginButton {
  padding: 0.8rem;
  background: var(--color-secondary);
  color: #ffffff;
  border: 3px solid var(--color-primary);
  font-family: inherit;
  font-size: 16px;
  text-transform: capitalize;
  cursor: pointer;
  margin-top: 1rem;
}

.loginButton:hover {
  border-color: var(--color-online);

}
