:root {
  --color-primary: #6E6962;
  --color-secondary: #93A167;
  --color-bg: #9D9F7F;
  --color-panel: #c2caa5;
  --color-border: #6E6962;
  --color-text: #FEF9CA;
  /* --color-muted: #7b8464; */

  --color-online: #6EAA78;
  --color-offline: #C97165;
}
*,
*::before,
*::after {
  margin: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  line-height: 1.6;
  font-family: "Tiny5", monospace;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}
