:root {
  --color-primary: #6E6962;
  --color-secondary: #93A167;
  --color-bg: #9D9F7F;
  --color-panel: #c2caa5;
  --color-border: #6E6962;
  --color-text: #FEF9CA;
  /* --color-muted: #7b8464; */

  --color-online: #6EAA78;
  --color-offline: #C97165;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-weight: normal;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

#root {
  width: 100vw;
  height: 100vh; 
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
  color: var(--color-text);
  line-height: 1.6;
  font-family: "Tiny5", monospace;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  
  background-image: url('./base.png');
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-app-region: drag;
  user-select: none; 
}

body {
  overflow: hidden;
}

.app {
  height: 100%;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: calc(100vh - 70px); 
  padding: 15px;
  padding-right: 30px ;
  padding-top: 35px;
  padding-bottom: 43px;
  /* background-color: red; */
  -webkit-app-region: no-drag;
}
